.section-footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
