.section-header {
    color: #2E2F42;
}

.address-list {
    font-style: normal;
}


.header-nav-list {
    color: #2E2F42;
    font-weight: 500;
}

.header-address-list {
    color: #434455;
}

.address-list .header-address-list:hover,
.address-list .header-address-list:focus {
    color: #404BBF;
}

.header-nav .header-nav-list:hover,
.header-nav .header-nav-list:focus {
    color: #404BBF;
    font-weight: 500;
}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42; 
}