.section-main-title {
    background-color: #2E2F42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071;
    text-align: center;
    color: #FFFFFF;
}

.button-main-title {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.button-main-title:hover,
.button-main-title:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}